/**
 * Blocks styles
 *
 * @author  Damian Duda <dduda@nexway.com>
 */

// BLOCKS STYLES

.default,.def {
	clear: both;
	margin-top: 30px;
}

.def {
	padding-top: 30px;
}

.boonty {
	display: block;
	background: #f2f2f2;
	.border-radius(2px);
	width: 300px;
	padding: 1px;
	border: none;
	font-family: @font-family-1;
	color: #333;

	/* -- TOP PRODUCT -- */
	&.top-product {

		.block-title {
			padding-left: 35px;

			.icon {
				background: url("@{image-path}/h3.png") no-repeat;
				display: block;
				.size(25px,24px);
				position: absolute;
				top: 3px;
				left: 4px;
			}
		}

		.product-stage {

			.product-clip {

				li {

					.product-item {

						.number {
							display: block;
							float: left;
							font: 700 18px Verdana;
							color: #333;
							line-height: 80px;
							margin-right: 15px;
						}
						
						.detail {
							width: 120px;

							.info .product-category {
								display: block;
								font-style: italic;
								font-size: 10px;
								color: #336699;

								&:hover {
									text-decoration: underline;
								}
							}

							.price-box {
								display: none;
							}

							.product-buttons {
								display: none;
							}
						}
					}
				}
			}
		}
	}

	/* -- CAROUSEL BONS PLANS -- */
	&.bons {
		width: 598px;
		margin: 30px auto 20px;

		.block-title {
			position: relative;
			padding-left: 46px;
			margin: 7px -7px 0;

			&:before, &:after {
				position: absolute;
				content: "";
	        	bottom: -7px;
			    height: 0;
			    width: 0;	
	    		border-top: 7px solid #506E00;			    				
			}

			&:before {
	  			border-left: 7px solid transparent;
	    		left: 0px;			
			}

			&:after {
	  			border-right: 7px solid transparent;
	    		right: 0px;				
			}

			.icon {
				background: url("@{image-path}/h3.png") no-repeat;
				display: block;
				.size(25px,24px);
				position: absolute;
				top: 3px;
				left: 15px;
				background-position: 0 -24px;
			}
		}

		/* Product Stage */
		.product-stage {
			margin: 0 auto;
			width: 520px;
			height: 188px;

			/* Product Items */
			.product-clip {
				padding-top: 36px;

				li {
					width: 130px;
					margin-bottom: 28px;

					/* Product Item*/
					.product-item {
						border: none;
						height: 188px;

						/* Product Image with link */
						.image-link {
							margin: 0 auto;
							width: 108px;
							display: block;
							.box-shadow(0 0 5px rgba(0,0,0,.9));
						}

						/* Caption */
						.caption {
							display: none;
						}

						/* Product detail */
						.detail {

							/* Product info */
							.info {
								display: none;
							}

							/* Block price */
							.block-price {
								display: block;
								height: auto;
								padding: 7px 0;

								/* Current price */
								.price {
	                                font-size: 10px;
	                                text-align: center;
	                                color: #BC1212;
	                                line-height: 16px;
	                                text-overflow: ellipsis;
	                                white-space: nowrap;
	                                display: block;

									&.save {
										display: block;
                                    	padding-bottom: 5px;

										/* Save price */
										.save-price {
	                                        color: @white;
	                                        background: #BC1212;
	                                        display: inline-block;
	                                        font-style: italic;
	                                        padding: 3px 5px;
	                                        .border-radius(4px);
										}

										/* Previous price */
										.previous-price {
	                                        color: #333;
	                                        display: inline-block;
	                                        text-decoration: line-through;
	                                        margin-left: 4px;
										}
									}
								}
							}

							/* Price Box */
							.price-box {
								display: @product-block-wrap-price-display;
								padding: 7px 0;
								text-align: center;
								font-size: 11px;

								/* Old price */
								.old-price {
									display: @product-block-previous-box-display;

									.price-label {
										display: none;
									}

									.price {
										display: @product-block-previous-price-display;
										color: #333;
									}

									.discount {
										background: #BC1212;
										color: @white;
										.border-radius(4px);
										padding: 3px 5px;
										font-style: italic;
									}
								}

								/* Special price */
								.special-price {
									display: @product-block-special-box-display;


									.price-label {
										display: none;
									}

									.price {
										display: @product-block-special-price-display;
										color: #BC1212;
									}
								}
							}

							/* Product buttons */
							.product-buttons {
								display: none;
							}	
						}					
					}
				}
			}			
		}	
	    /* Control */
	    .control-wrap {
	        @carousel-control-display: block;
	        
	        display: @carousel-control-display;

	        .control {
	            .hide-text;
	            position: absolute;
	            display: block;
	            background: #eee;
	            @shadow: inset 0 0 1px @white, 0 -1px 8px rgba(0,0,0,.4);
	            .box-shadow(@shadow);
	            .size(50px,32px);            
	            top: 80px;

	            &:before {
	                content: "";
	                position: absolute;
	                .square(0);
	                border-top: 7px solid #4D4D4D;
	                bottom: -7px;              
	            }

	            span {
	                position: absolute;
	                display: block;
	                background: url("@{image-path}/car-arrows.png") no-repeat; 
	                .size(18px,12px);
	                top: 18px;
	                left: 9px;
	            }

	            &:hover {
	                background: #E0E0E0;
	            }

	            &.carousel-prev {
	                left: -7px;

	                &:before {
	                    border-left: 7px solid transparent;
	                    left: 0;
	                }

	                span {
	                    background-position: 0 -18px;
	                }

	                &.disabled {
	                    cursor: default;

	                    span {
	                        background-position: 0 0;
	                    }

	                    &:hover {
	                        background: #eee;
	                    }
	                }
	            }

	            &.carousel-next {
	                right: -7px;

	                &:before {
	                    border-right: 7px solid transparent;
	                    right: 0;
	                }

	                span {
	                    background-position: -12px -18px;
	                }

	                &.disabled {
	                    cursor: default;

	                    span {
	                        background-position: -12px 0;
	                    }

	                    &:hover {
	                        background: #eee;
	                    }
	                }
	            }
	        }
	    }

	    /* Pagination */
	    .carousel-pagination {
	        display: block;
	    }		
	}

	/* -- CAROUSEL TOP SLIDER -- */
	&.top-slider {
	    width: auto;
	    color: @white;
	    clear: both;

	    .block-title {
	    	display: none;
	    }

	    .product-stage {
	    	height: 315px;

    		.product-clip {

    			li {
    				width: 952px;
    				// height: 315px;

					.product-item {
						// height: 315px;
						
						// position: relative;
						border: none;

						/* Product List Number */
						.number {
							display: none;
						}

						/* Product Image with link */
						.image-link {
							display: none;
						}

						/* Product Image without link */
						.image {
							display: block;
                            .size(100%, 100%);
							// position: absolute;
						}

						/* Caption */
						.caption {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							background: rgb(100,100,100);
	                        background: rgba(0,0,0,.4);
	                        border-top: 1px solid #7c7c7c;
	                        border-bottom: 1px solid rgba(255,255,255,.7);
	                        height: 30px;
	                        font-size: 13px;

	                        p {
	                        	line-height: 30px;
	                        	padding: 0 20px;
	                        }
						}

						/* Product detail */
						.detail {
							position: absolute;
							display: @product-block-detail-display;
							left: 0;
							bottom: 0;
							width: 100%;
							background: rgb(100,100,100);
	                        background: rgba(0,0,0,.4);
	                        border-top: 1px solid rgba(255,255,255,.7);
	                        height: 68px;							

							/* Product info */
							.info {
								display: block;
								float: left;
								text-shadow: 1px 1px 1px rgba(0,0,0,.5);
								color: @white;
								padding: 6px 0 0 15px;
								width: 470px;

								/* Product name */
								.product-name {
									display: @product-block-info-name-display;
									height: 17px;
									line-height: 17px;
									font-weight: 700;

									a {
										font: arial;
										color: @white;
										font-size: 13px;

										&:hover {
											color: @white;
											text-shadow: none;
										}
									}
								}

								/* Product category */
								.product-category {
									display: none;
								}

								/* Product description */
								.product-description {
									display: @product-block-info-description-display;
								}
							}

							/* Product rating */
							.rating { 
								display: none;
							}

							/* Price Box */
							.price-box {
								display: block;
								float: left;
								text-shadow: 1px 1px 1px rgba(0,0,0,.3);
								padding: 22px 20px 0;

								/* Old price */
								.old-price {
									display: inline-block;


									.price-label {
										display: none;
									}

									.price {
										display: @product-block-previous-price-display;
										text-decoration: @product-block-previous-price-text-decoration;
										font-size: 17px;
									}

									.discount {
										display: none;
									}
								}

								/* Special price */
								.special-price {
									display: inline-block;
									margin-left: 15px;

									.price-label {
										display: none;
									}

									.price {
										display: @product-block-special-price-display;
										color:	@white;
										font-size: 24px;
									}
								}
							}

							/* Product buttons */
							.product-buttons {
								display: block;
								float: left;
								padding-top: 20px;

								/* Buttons */
								.btn {
									display: @product-block-btn-display;
									font-size: 15px;
									color: @white;
									height:36px;
									width:164px;
									line-height: 36px;
									.border-radius(3px);
									text-align:center;

									/* Button add to cart */
									&.add-to-cart {
										display: @product-block-btn-add-to-cart;
										#gradient .vertical-three-colors(#E82A72,#EB2F76,50%,#DD1863);
										text-shadow:0 1px 0 rgba(0,0,0,.2);
										color: @white;
										padding: 0 10px;

										&:before {
											display: none;
										}
									}

									/* Button add to wishlist */
									&.add-to-wishlist {
										display: none;
									}
								}
							}
						}
					}
    			}
    		}
	    }

		/* Control */
		.control-wrap {
		    display: none;
		}

		/* Pagination */
		.carousel-pagination {
		    display: block;
	        position: absolute;
	        right: 30px;
	        top: 40px;
	        border: 1px solid rgb(200,200,200);
	        border: 1px solid rgba(200,200,200,.5);
	        background: rgba(0,0,0,.1);
	        padding: 5px 14px;
	        text-align: center;
	        .border-radius(5px);

	        a {
	            .hide-text;
	            background: #aaa;
	            .square(14px);
	            display: block;
	            float: left;
	            margin-left: 10px;
	            .border-radius(50%);
	            @shadow: 0 0 4px rgba(0,0,0,.8),inset 1px -1px 3px rgba(0,0,0,.25);
	            .box-shadow(@shadow);
	            .opacity(80);

	            &:first-child {
	                margin: 0;
	            }

	            &.selected {
	                background: #c3c3c3;
	                .opacity(100);
	                cursor: default;

	                &:hover {
	                    background: #c3c3c3;
	                }
	            }

	            &:hover {
	                background: #dcdcdc;
	                .opacity(100);
	            }
	        }		    
		}	    

		/* Bottom text */
		.bottom-text {
			display: none;
		}    
	}

	/* Block Title */
	.block-title {
		position: relative;
		.border-bottom-radius(0);
		#gradient .vertical(#A3D410, #8DBB04);
		height: 30px;
		color: @white;
		font-weight: 100;
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
		padding-left: 14px;
		font-family: @font-family-1;
		font-size: 12px;
	}

	.block-subtitle {
		display: none;
	}

	/* Product Stage */
	.product-stage {

		/* Product Items */
		.product-clip {
			background: none;
			padding: 12px 0 0 12px;
			
			li {
				background: none;
				margin-bottom: 15px;

				/* Product Item*/
				.product-item {
					border: none;

					/* Product List Number */
					.number {
						display: none;
					}

					/* Product Image with link */
					.image-link {
						margin-right: 8px;
						padding: 2px;
						background: @white;

						&:hover {
							.box-shadow(0 0 3px rgba(0, 0, 0, 0.5));
						}
					}				

					/* Product detail */
					.detail {
						width: 140px;

						/* Product info */
						.info {
							display: @product-block-info-display;

							/* Product name */
							.product-name {
								display: @product-block-info-name-display;
								line-height: 12px;
								font: 12px @font-family-1;
								height: 13px;
								overflow: hidden;						

								a {
									color: #333;

									&:hover {
										color: #555;
										text-decoration: underline;
										text-shadow: 1px 1px 0 #fff;
									}
								}
							}

							/* Product category */
							.product-category {
								display: none;
							}

							/* Product discription */
							.discription {
								display: none;
							}
						}

						/* Product rating */
						.rating { 
							display: none;
						}

						/* Block price */
						.price-box {
							display: block;

							/* Old price */
							.old-price {
								display: none;
							}

							/* Special price */
							.special-price {
								display: @product-block-special-box-display;
								height: 22px;
								line-height: 22px;
								padding-top: 2px;

								.price-label {
									display: none;
								}

								.price {
									display: @product-block-special-price-display;
									color: #333;
								}
							}							
						}

						/* Product buttons */
						.product-buttons {
							display: @product-block-buttons-display;

							/* Buttons */
							.btn {
								display: block;
								border: none;
								font-size: 13px;
								.box-shadow(none);
								background: none;
								line-height: 20px;
								height: auto;
								padding: 0;
								clear: both;
								position: relative;
								padding-left: 20px;
								text-align: left;
								max-width: 100px;

								&:hover {
									text-decoration: underline;
									.opacity(70);
								}

								&:before {
									position: absolute;
									content: "";
									background: url("@{image-path}/icons-pro.png") no-repeat;
									.size(11px,13px);
									display: block;
									top: 3px;
									left: 0;
								}

								/* Button add to cart */
								&.add-to-cart {
									display: block;
									color: #8dbb04;

									&:before {
										background-position: 0 -12px;
									}
								}

								/* Button add to wishlist */
								&.add-to-wishlist {
									display: block;
									color: #ea226d;

									&:before {
										background-position: 0 0;
									}							
								}
							}
						}
					}
				}
			}	
		}
	}

	/* Bottom text */
	.bottom-text {
		display: @product-block-bottom-text-display;
		background: #e4e4e4;
		.border-radius(2px);
		clear: both;
		height: 22px;
		margin: 0 7px 7px;
		text-align: right;

		a {
			color: #006286;
			line-height: 22px;
			margin-right: 15px;
			text-shadow: 1px 1px 0 @white;
			font-size: 11px;

			&:hover {
				text-decoration: underline;
			}
		}
	}	
}