/**
 * GENERIC BLOCKS VARIABLES
 *
 * @author  Damian Duda <dduda@nexway.com>
 */

// DEFAULT BLOCKS


/* DEFAULT DISPLAY PRODUCTS IN COLUMN */


/* --------------------------------------------------------------------------------------------------
[Product block] Wrapper Product Block
---------------------------------------------------------------------------------------------------*/
@product-block-both:											none;
@product-block-width:											auto;
@product-block-height:											auto;
@product-block-margin:											0;
@product-block-padding:											0;
@product-block-border-radius:									0;
@product-block-border:											1px solid #eee;
@product-block-shadow: 											none;
@product-block-font-size:										12px;

/* -------------------- Block Title -------------------- */
@product-block-title-display: 									block;
@product-block-title-height:									auto;
@product-block-title-margin:									0;
@product-block-title-padding:									0 10px;
@product-block-title-border-radius:								2px;
@product-block-title-border:									none;
@product-block-title-shadow: 									none;
@product-block-title-color: 									auto;
@product-block-title-font-size:									18px;
@product-block-title-line-height:								30px;
/* Block Sub-Title */
@product-block-subtitle-display:								block;
@product-block-subtitle-height:									auto;
@product-block-subtitle-background:								none;
@product-block-subtitle-margin:									0;
@product-block-subtitle-padding:								0 10px;
@product-block-subtitle-border:									0;
@product-block-subtitle-shadow:									none;
@product-block-subtitle-color: 									auto;
@product-block-subtitle-font-size:								14px;
@product-block-subtitle-line-height:							24px;

/* --------------------------------------------------------------------------------------------------
[Product block] Stage
---------------------------------------------------------------------------------------------------*/
/* Product Stage */
@product-block-stage-height:									auto;
@product-block-stage-margin:									0;
@product-block-stage-padding:									0;
/* Product Clip */
@product-block-clip-oveflow:									auto;
@product-block-clip-width:										auto;
@product-block-clip-height:										auto;
@product-block-clip-margin:										0;
@product-block-clip-padding: 									0;
@product-block-clip-border:										none;
@product-block-clip-shadow:										none;
/* Product LI */
@product-block-li-float:										none;
@product-block-li-width:										auto;
@product-block-li-height:										auto;
@product-block-li-margin:										0;
@product-block-li-padding:										0;
@product-block-li-border-radius:								0;
@product-block-li-border:										none;
@product-block-li-shadow:										none;
/* Product Item */
@product-block-item-margin:										0;
@product-block-item-padding:									0;	
@product-block-item-border:										1px dotted #ccc;

/* Product Number */
@product-block-number-display:									inline-block;
@product-block-number-width:									auto;
@product-block-number-height:									auto;
@product-block-number-margin:									0 10px 0 0;
@product-block-number-padding:									0;
@product-block-number-border:									none;
@product-block-number-color: 									@green;
@product-block-number-font-size:								25px;
@product-block-number-line-height:								normal;

/* -------------------- Product Image -------------------- */
/* Product Image without link */
/* Image */
@product-block-image-display:									none;
@product-block-image-width:										auto;
@product-block-image-height:									auto;
@product-block-image-margin:									0;
@product-block-image-padding:									0;
@product-block-image-border:									none;
/* Product Image with link */
/* Link */
@product-block-image-link-display:								inline-block;
@product-block-image-link-width:								auto;
@product-block-image-link-height:								auto;
@product-block-image-link-margin:								0;
@product-block-image-link-padding:								0;
@product-block-image-link-border:								none;
/* Image */
@product-block-image-link-img-width:							auto;
@product-block-image-link-img-height:							auto;
@product-block-image-link-img-margin:							0;
@product-block-image-link-img-padding:							0;
@product-block-image-link-img-border:							none;

/* Caption */
@product-block-caption:											none;

/* Product detail */
@product-block-detail-display:									block;
@product-block-detail-width:									auto;

/* -------------------- Product info -------------------- */
@product-block-info-display:									block;

/* Product name */
@product-block-info-name-display:								block;

/* Product category */
@product-block-info-category-display:							block;

/* Product discription */
@product-block-info-discription-display:						block;


/* -------------------- Product rating -------------------- */
@product-block-rating-display:									block;


/* -------------------- Price Box -------------------- */
@product-block-wrap-price-display:								block;

/* Discount */
@product-block-discount-display:								inline;
@product-block-discount-color:									@white;
@product-block-discount-background:								@red;
@product-block-discount-border-radius:							3px;
@product-block-discount-padding:								2px 4px;

/* Old price */
@product-block-previous-box-display:							block;
@product-block-previous-price-label-display:					inline-block;
@product-block-previous-price-display:							inline-block;
@product-block-previous-price-text-decoration:					line-through;

/* Special Price */
@product-block-special-box-display:								block;
@product-block-special-price-label-display:						inline-block;
@product-block-special-price-display:							inline-block;
@product-block-special-price-color:								@red;


/* -------------------- Product buttons -------------------- */
@product-block-buttons-display:									block;

/* Buttons */
@product-block-btn-display:										inline-block;


/* Button add to cart */
@product-block-btn-add-to-cart:									inline-block;


/* Button add to wishlist */
@product-block-btn-add-to-wishlist:								inline-block;


/* --------------------------------------------------------------------------------------------------
[Product block] More product
---------------------------------------------------------------------------------------------------*/
@product-block-bottom-text-display:								block;




/* DISPLAY PRODUCTS IN LIST */

/* --------------------------------------------------------------------------------------------------
[Product block] Stage
---------------------------------------------------------------------------------------------------*/
/* Product Items LI */
@product-block-list-large-li-float:								none;
@product-block-list-large-li-width:								auto;
/* Product detail */
@product-block-list-large-detail-display:						inline-block;
@product-block-list-large-detail-width:							40%;



/* DISPLAY PRODUCTS IN GRID */

/* --------------------------------------------------------------------------------------------------
[Product block] Stage
---------------------------------------------------------------------------------------------------*/
/* Product Items LI */
@product-block-grid-li-float: 									left;
@product-block-grid-li-width:									50%;

/* Product detail */
@product-block-grid-detail-display:								block;



/* DISPLAY PRODUCTS IN CAROUSEL */

/* --------------------------------------------------------------------------------------------------
[Carousel] Container
---------------------------------------------------------------------------------------------------*/
@carousel-container-width:										100%;
@carousel-stage-height:											302px;
@carousel-li-float:												left;
@carousel-li-width:												469px;
@carousel-item-height:											300px;

@carousel-image-margin:											0 auto;
@carousel-caption-display:										block;
@carousel-caption-background:									rgba(0,0,0,.1);

/* --------------------------------------------------------------------------------------------------
[Carousel] Control (prev, next)
---------------------------------------------------------------------------------------------------*/
@carousel-control-display:										block;



/* --------------------------------------------------------------------------------------------------
[Carousel] Pagination
---------------------------------------------------------------------------------------------------*/
@carousel-pagination-display:									block;